# Activer le suivi des liens symboliques
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# redirigez toutes les requêtes vers index.php
RewriteRule ^(.*)$ index.php [L,QSA]

# Désactiver l'indexation des répertoires
Options -Indexes

# Gérer les erreurs 404
ErrorDocument 404 /src/views/404.php

